In [1]:
import pandas as pd

data = pd.read_csv('weather.csv')
mean_precipitation_by_state = data.groupby('Station.State')['Data.Precipitation'].mean()
mean_precipitation_by_state.head()

Station.State
Alabama       0.776179
Alaska        0.566126
Arizona       0.162566
Arkansas      0.603711
California    0.323774
Name: Data.Precipitation, dtype: float64

In [2]:
data.head()
data['Date.Full'].ffill(inplace=True)
data['Date.Full']

0        2016-01-03
1        2016-01-03
2        2016-01-03
3        2016-01-03
4        2016-01-03
            ...
16738    2017-01-01
16739    2017-01-01
16740    2017-01-01
16741    2017-01-01
16742    2017-01-01
Name: Date.Full, Length: 16743, dtype: object

In [3]:
data['Date'] = pd.to_datetime(data['Date.Year'].astype(str) + '-' + data['Date.Month'].astype(str))
data

,Data.Precipitation,Date.Full,Date.Month,Date.Week of,Date.Year,Station.City,Station.Code,Station.Location,Station.State,Data.Temperature.Avg Temp,Data.Temperature.Max Temp,Data.Temperature.Min Temp,Data.Wind.Direction,Data.Wind.Speed,Date
0,0.00,2016-01-03,1,3,2016,Birmingham,BHM,"Birmingham, AL",Alabama,39,46,32,33,4.33,2016-01-01
1,0.00,2016-01-03,1,3,2016,Huntsville,HSV,"Huntsville, AL",Alabama,39,47,31,32,3.86,2016-01-01
2,0.16,2016-01-03,1,3,2016,Mobile,MOB,"Mobile, AL",Alabama,46,51,41,35,9.73,2016-01-01
3,0.00,2016-01-03,1,3,2016,Montgomery,MGM,"Montgomery, AL",Alabama,45,52,38,32,6.86,2016-01-01
4,0.01,2016-01-03,1,3,2016,Anchorage,ANC,"Anchorage, AK",Alaska,34,38,29,19,7.80,2016-01-01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16738,0.08,2017-01-01,1,1,2017,Casper,CPR,"Casper, WY",Wyoming,23,32,15,23,19.98,2017-01-01
16739,0.00,2017-01-01,1,1,2017,Cheyenne,CYS,"Cheyenne, WY",Wyoming,32,42,21,26,15.16,2017-01-01
16740,0.00,2017-01-01,1,1,2017,Lander,LND,"Lander, WY",Wyoming,17,29,4,26,1.65,2017-01-01
16741,0.06,2017-01-01,1,1,2017,Rawlins,RWL,"Rawlins, WY",Wyoming,23,31,13,24,18.16,2017-01-01
16742,0.10,2017-01-01,1,1,2017,Sheridan,SHR,"Sheridan, WY",Wyoming,21,34,8,23,7.51,2017-01-01

In [4]:
# Group by 'Station.State' and 'Station.City', calculate mean 'Data.Temperature.Avg Temp' and sort within groups
sorted_group = data.groupby(['Station.State', 'Station.City'])['Data.Temperature.Avg Temp'].mean().reset_index()
sorted_group = sorted_group.sort_values(['Station.State', 'Data.Temperature.Avg Temp'], ascending=[True, False])
print(sorted_group)

    Station.State Station.City  Data.Temperature.Avg Temp
2         Alabama       Mobile                  68.301887
3         Alabama   Montgomery                  68.056604
0         Alabama   Birmingham                  65.452830
1         Alabama   Huntsville                  64.301887
13         Alaska     Gustavus                  60.000000
..            ...          ...                        ...
314       Wyoming     Cheyenne                  48.207547
317       Wyoming     Sheridan                  47.660377
313       Wyoming       Casper                  46.547170
315       Wyoming       Lander                  46.150943
316       Wyoming      Rawlins                  43.886792

[318 rows x 3 columns]

In [5]:
num_bins = 5
data['Temperature_Bin'] = pd.cut(data['Data.Temperature.Avg Temp'], bins=num_bins, labels=False)
grouped_bins = data.groupby('Temperature_Bin')
for group_name, group_data in grouped_bins:
    print(f"Bin {group_name}:")
    print(group_data)

Bin 0:
       Data.Precipitation   Date.Full  Date.Month  Date.Week of  Date.Year  \
64                   0.00  2016-01-03           1             3       2016
338                  0.00  2016-01-10           1            10       2016
663                  0.03  2016-01-17           1            17       2016
777                  0.10  2016-01-17           1            17       2016
844                  0.27  2016-01-17           1            17       2016
...                   ...         ...         ...           ...        ...
16007                0.01  2016-12-18          12            18       2016
16009                0.02  2016-12-18          12            18       2016
16010                0.00  2016-12-18          12            18       2016
16043                0.29  2016-12-18          12            18       2016
16133                0.00  2016-12-25          12            25       2016

              Station.City Station.Code         Station.Location  \
64                   Craig          CAG                Craig, CO
338               Northway          ORT             Northway, AK
663     Utqiagvik (Barrow)          BRW   Utqiagvik (Barrow), AK
777    International Falls          INL  International Falls, MN
844                  Fargo          FAR                Fargo, ND
...                    ...          ...                      ...
16007            Dickinson          DIK            Dickinson, ND
16009          Grand Forks          GFK          Grand Forks, ND
16010            Williston          ISN            Williston, ND
16043             Aberdeen          ABR             Aberdeen, SD
16133             Northway          ORT             Northway, AK

      Station.State  Data.Temperature.Avg Temp  Data.Temperature.Max Temp  \
64         Colorado                        -10                          3
338          Alaska                        -13                         -8
663          Alaska                         -4                          0
777       Minnesota                         -7                          0
844    North Dakota                         -3                          7
...             ...                        ...                        ...
16007  North Dakota                         -2                          5
16009  North Dakota                         -5                          3
16010  North Dakota                         -2                          5
16043  South Dakota                         -6                          7
16133        Alaska                         -9                         -1

       Data.Temperature.Min Temp  Data.Wind.Direction  Data.Wind.Speed  \
64                           -23                   12             0.40
338                          -19                   18             0.32
663                           -9                    5            15.85
777                          -16                   23             5.20
844                          -10                   23             6.81
...                          ...                  ...              ...
16007                        -11                   26            12.55
16009                        -14                   26            10.61
16010                        -11                   26             5.28
16043                        -20                   21             9.67
16133                        -18                   15             0.30

            Date  Temperature_Bin
64    2016-01-01                0
338   2016-01-01                0
663   2016-01-01                0
777   2016-01-01                0
844   2016-01-01                0
...          ...              ...
16007 2016-12-01                0
16009 2016-12-01                0
16010 2016-12-01                0
16043 2016-12-01                0
16133 2016-12-01                0

[67 rows x 16 columns]
Bin 1:
       Data.Precipitation   Date.Full  Date.Month  Date.Week of  Date.Year  \
7                    0.15  2016-01-03           1             3       2016
11                   0.00  2016-01-03           1             3       2016
23                   0.00  2016-01-03           1             3       2016
32                   0.00  2016-01-03           1             3       2016
33                   0.05  2016-01-03           1             3       2016
...                   ...         ...         ...           ...        ...
16724                0.02  2017-01-01           1             1       2017
16738                0.08  2017-01-01           1             1       2017
16740                0.00  2017-01-01           1             1       2017
16741                0.06  2017-01-01           1             1       2017
16742                0.10  2017-01-01           1             1       2017

             Station.City Station.Code        Station.Location Station.State  \
7                 Bettles          BTT             Bettles, AK        Alaska
11              Fairbanks          FAI           Fairbanks, AK        Alaska
23               Northway          ORT            Northway, AK        Alaska
32                 Tanana          TAL              Tanana, AK        Alaska
33     Utqiagvik (Barrow)          BRW  Utqiagvik (Barrow), AK        Alaska
...                   ...          ...                     ...           ...
16724             Ephrata          EPH             Ephrata, WA    Washington
16738              Casper          CPR              Casper, WY       Wyoming
16740              Lander          LND              Lander, WY       Wyoming
16741             Rawlins          RWL             Rawlins, WY       Wyoming
16742            Sheridan          SHR            Sheridan, WY       Wyoming

       Data.Temperature.Avg Temp  Data.Temperature.Max Temp  \
7                             22                         32
11                            14                         30
23                             0                          8
32                            21                         29
33                             6                          9
...                          ...                        ...
16724                         23                         32
16738                         23                         32
16740                         17                         29
16741                         23                         31
16742                         21                         34

       Data.Temperature.Min Temp  Data.Wind.Direction  Data.Wind.Speed  \
7                              9                    2             3.10
11                             4                    2             2.20
23                            -9                   20             0.36
32                            13                    8             3.83
33                             2                    6            13.76
...                          ...                  ...              ...
16724                         13                   22             2.95
16738                         15                   23            19.98
16740                          4                   26             1.65
16741                         13                   24            18.16
16742                          8                   23             7.51

            Date  Temperature_Bin
7     2016-01-01                1
11    2016-01-01                1
23    2016-01-01                1
32    2016-01-01                1
33    2016-01-01                1
...          ...              ...
16724 2017-01-01                1
16738 2017-01-01                1
16740 2017-01-01                1
16741 2017-01-01                1
16742 2017-01-01                1

[838 rows x 16 columns]
Bin 2:
       Data.Precipitation   Date.Full  Date.Month  Date.Week of  Date.Year  \
0                    0.00  2016-01-03           1             3       2016
1                    0.00  2016-01-03           1             3       2016
2                    0.16  2016-01-03           1             3       2016
3                    0.00  2016-01-03           1             3       2016
4                    0.01  2016-01-03           1             3       2016
...                   ...         ...         ...           ...        ...
16734                0.35  2017-01-01           1             1       2017
16735                0.04  2017-01-01           1             1       2017
16736                0.11  2017-01-01           1             1       2017
16737                0.15  2017-01-01           1             1       2017
16739                0.00  2017-01-01           1             1       2017

      Station.City Station.Code Station.Location Station.State  \
0       Birmingham          BHM   Birmingham, AL       Alabama
1       Huntsville          HSV   Huntsville, AL       Alabama
2           Mobile          MOB       Mobile, AL       Alabama
3       Montgomery          MGM   Montgomery, AL       Alabama
4        Anchorage          ANC    Anchorage, AK        Alaska
...            ...          ...              ...           ...
16734    Green Bay          GRB    Green Bay, WI     Wisconsin
16735    La Crosse          LSE    La Crosse, WI     Wisconsin
16736      Madison          MSN      Madison, WI     Wisconsin
16737    Milwaukee          MKE    Milwaukee, WI     Wisconsin
16739     Cheyenne          CYS     Cheyenne, WY       Wyoming

       Data.Temperature.Avg Temp  Data.Temperature.Max Temp  \
0                             39                         46
1                             39                         47
2                             46                         51
3                             45                         52
4                             34                         38
...                          ...                        ...
16734                         28                         34
16735                         28                         35
16736                         27                         34
16737                         31                         38
16739                         32                         42

       Data.Temperature.Min Temp  Data.Wind.Direction  Data.Wind.Speed  \
0                             32                   33             4.33
1                             31                   32             3.86
2                             41                   35             9.73
3                             38                   32             6.86
4                             29                   19             7.80
...                          ...                  ...              ...
16734                         21                   24            10.53
16735                         20                   25             9.51
16736                         19                   25             6.33
16737                         23                   25            10.98
16739                         21                   26            15.16

            Date  Temperature_Bin
0     2016-01-01                2
1     2016-01-01                2
2     2016-01-01                2
3     2016-01-01                2
4     2016-01-01                2
...          ...              ...
16734 2017-01-01                2
16735 2017-01-01                2
16736 2017-01-01                2
16737 2017-01-01                2
16739 2017-01-01                2

[4854 rows x 16 columns]
Bin 3:
       Data.Precipitation   Date.Full  Date.Month  Date.Week of  Date.Year  \
25                   0.00  2016-01-03           1             3       2016
26                   0.00  2016-01-03           1             3       2016
27                   0.00  2016-01-03           1             3       2016
37                   0.00  2016-01-03           1             3       2016
38                   0.00  2016-01-03           1             3       2016
...                   ...         ...         ...           ...        ...
16708                0.06  2017-01-01           1             1       2017
16709                0.01  2017-01-01           1             1       2017
16710                0.34  2017-01-01           1             1       2017
16711                0.17  2017-01-01           1             1       2017
16712                0.00  2017-01-01           1             1       2017

        Station.City Station.Code   Station.Location Station.State  \
25        Petersburg          PSG     Petersburg, AK        Alaska
26     Puntilla Lake          PTI  Puntilla Lake, AK        Alaska
27            Shemya          SYA         Shemya, AK        Alaska
37           Phoenix          PHX        Phoenix, AZ       Arizona
38            Tucson          TUS         Tucson, AZ       Arizona
...              ...          ...                ...           ...
16708        Midland          MAF        Midland, TX         Texas
16709     San Angelo          SJT     San Angelo, TX         Texas
16710    San Antonio          SAT    San Antonio, TX         Texas
16711       Victoria          VCT       Victoria, TX         Texas
16712           Waco          ACT           Waco, TX         Texas

       Data.Temperature.Avg Temp  Data.Temperature.Max Temp  \
25                            60                         60
26                            60                         60
27                            60                         60
37                            58                         69
38                            56                         69
...                          ...                        ...
16708                         52                         65
16709                         56                         68
16710                         66                         73
16711                         66                         73
16712                         60                         70

       Data.Temperature.Min Temp  Data.Wind.Direction  Data.Wind.Speed  \
25                            60                   18             1.83
26                            60                    0             0.00
27                            60                    0             0.00
37                            45                   13             5.80
38                            43                   12            12.93
...                          ...                  ...              ...
16708                         40                   20             7.30
16709                         43                   16             6.08
16710                         58                   13             6.85
16711                         59                   13             6.33
16712                         50                   19             5.81

            Date  Temperature_Bin
25    2016-01-01                3
26    2016-01-01                3
27    2016-01-01                3
37    2016-01-01                3
38    2016-01-01                3
...          ...              ...
16708 2017-01-01                3
16709 2017-01-01                3
16710 2017-01-01                3
16711 2017-01-01                3
16712 2017-01-01                3

[7910 rows x 16 columns]
Bin 4:
       Data.Precipitation   Date.Full  Date.Month  Date.Week of  Date.Year  \
73                   0.49  2016-01-03           1             3       2016
76                   0.50  2016-01-03           1             3       2016
77                   1.13  2016-01-03           1             3       2016
243                  0.05  2016-01-03           1             3       2016
558                  0.34  2016-01-10           1            10       2016
...                   ...         ...         ...           ...        ...
16354                1.16  2016-12-25          12            25       2016
16504                1.17  2017-01-01           1             1       2017
16519                0.07  2017-01-01           1             1       2017
16521                1.20  2017-01-01           1             1       2017
16671                0.19  2017-01-01           1             1       2017

          Station.City Station.Code     Station.Location Station.State  \
73     Fort Lauderdale          FLL  Fort Lauderdale, FL       Florida
76            Key West          EYW         Key West, FL       Florida
77               Miami          MIA            Miami, FL       Florida
243           San Juan          SJU         San Juan, PR   Puerto Rico
558           San Juan          SJU         San Juan, PR   Puerto Rico
...                ...          ...                  ...           ...
16354         San Juan          SJU         San Juan, PR   Puerto Rico
16504         Key West          EYW         Key West, FL       Florida
16519         Honolulu          HNL         Honolulu, HI        Hawaii
16521       Kaunakakai          MKK       Kaunakakai, HI        Hawaii
16671         San Juan          SJU         San Juan, PR   Puerto Rico

       Data.Temperature.Avg Temp  Data.Temperature.Max Temp  \
73                            76                         82
76                            79                         82
77                            76                         82
243                           77                         83
558                           79                         84
...                          ...                        ...
16354                         80                         84
16504                         75                         80
16519                         75                         80
16521                         75                         81
16671                         79                         84

       Data.Temperature.Min Temp  Data.Wind.Direction  Data.Wind.Speed  \
73                            70                   28             5.16
76                            74                   17             4.53
77                            70                   17             3.33
243                           71                   10             5.90
558                           73                    8             2.77
...                          ...                  ...              ...
16354                         75                    7            11.55
16504                         69                    6             9.60
16519                         70                    9            11.13
16521                         68                    3            12.83
16671                         74                    8             9.13

            Date  Temperature_Bin
73    2016-01-01                4
76    2016-01-01                4
77    2016-01-01                4
243   2016-01-01                4
558   2016-01-01                4
...          ...              ...
16354 2016-12-01                4
16504 2017-01-01                4
16519 2017-01-01                4
16521 2017-01-01                4
16671 2017-01-01                4

[3074 rows x 16 columns]