Write programs in Python using NumPy library to do the following:
a. Compute the mean, standard deviation, and variance of a two dimensional random integer array
along the second axis.
b. Get the indices of the sorted elements of a given array.
a. B = [56, 48, 22, 41, 78, 91, 24, 46, 8, 33]
c. Create a 2-dimensional array of size m x n integer elements, also print the shape, type and data
type of the array and then reshape it into nx m array, n and m are user inputs given at the run time.
d. Test whether the elements of a given array are zero, non-zero and NaN. Record the indices of
these elements in three separate arrays.

In [ ]:
import numpy as np

arr = np.array([[1, 2, 3], [4, 5, 6], [7, 8, 9]])

row_mean = np.mean(arr, axis=1)
  
row1_mean = row_mean[0]
print("Mean of Row 1 is", row1_mean)
row2_mean = row_mean[1]
print("Mean of Row 2 is", row2_mean)
row3_mean = row_mean[2]
print("Mean of Row 3 is", row3_mean)

print()

row_std = np.std(arr, axis=1)

row1_std = row_std[0]
print("Standard Deviation of Row 1 is", row1_std)
row2_std = row_std[1]
print("Standard Deviation of Row 2 is", row2_std)
row3_std = row_std[2]
print("Standard Deviation of Row 3 is", row3_std)

print()

row_var = np.std(arr, axis=1)

row1_var = row_var[0]
print("Variance of Row 1 is", row1_var)
row2_var = row_var[1]
print("Variance of Row 2 is", row2_var)
row3_var = row_var[2]
print("Variance of Row 3 is", row3_var)

Mean of Row 1 is 2.0
Mean of Row 2 is 5.0
Mean of Row 3 is 8.0

Standard Deviation of Row 1 is 0.816496580927726
Standard Deviation of Row 2 is 0.816496580927726
Standard Deviation of Row 3 is 0.816496580927726

Variance of Row 1 is 0.816496580927726
Variance of Row 2 is 0.816496580927726
Variance of Row 3 is 0.816496580927726

Create a dataframe having at least 3 columns and 50 rows to store numeric data generated using a random
function. Replace 10% of the values by null values whose index positions are generated using random function.
Do the following:
a. Identify and count missing values in a dataframe.
b. Drop the column having more than 5 null values.
c. Identify the row label having maximum of the sum of all values in a row and drop that row.
d. Sort the dataframe on the basis of the first column.
e. Remove all duplicates from the first column.
f. Find the correlation between first and second column and covariance between second and third
column.
g. Detect the outliers and remove the rows having outliers.
h. Discretize second column and create 5 bins

In [47]:
import pandas as pd
import numpy as np
data = np.random.randint(1, 200000, size = (50,3))
df = pd.DataFrame(data, columns = ["C1", "C2", "C3"])

for i in range(int(df.size * 0.1)):
    col = np.random.choice(["C1", "C2", "C3"])
    ind = np.random.choice(range(1, 50), replace = False)
    df.loc[df.index[ind], col] = None
# Print the data frame
print(f"Dataframe :- \n{df}")

#a)
missing_values = df.isnull().sum()
print(f"Missing values in each columns:\n{missing_values}")
#b)
print(f"Column with more than 5 missing values: {missing_values[missing_values > 5]}")
df = df.drop(columns=missing_values[missing_values > 5].index)
print(df)

#c)
max_sum_row = df.sum(axis = 1).idxmax()
print(f"Row label having maximum sum: {max_sum_row}")
df = df.drop(index = max_sum_row)
print(df)
#d)
l1 = list(df)
df.sort_values(by = l1[0])
print(f"Dataframe after sorting: \n{df}")
#e)
df[l1[0]] = df[l1[0]].drop_duplicates()
print(f"Dataframe after droping duplicates: \n{df}")
#f)
df["C4"] = np.random.randint(1, 200000, size = (49, 1))
l1 = list(df)
correlation = df[l1[0]].corr(df[l1[1]])
print(f"Correlation: {correlation}")
covariance = df[l1[1]].cov(df[l1[2]])
print(f"Covariance: {covariance}")

#g)
Q1 = df.quantile(0.25)
Q3 = df.quantile(0.75)
IQR = Q3 - Q1

df = df[~((df < (Q1 - 1.5 * IQR)) | (df > (Q3 + 1.5 * IQR))).any(axis=1)]
print(f'Dataframe after removiing outliers: {df}')

#h)
for i, j in zip(['C1', 'C2', 'C3'], range(3)):
    df.rename(columns = {df.columns[j]: i}, inplace = True)


df['C2'] = pd.cut(list(df['C2']), bins = 5)

print(f'Dataframe after Discretizing 2nd column : {df}')

Dataframe :-
          C1        C2        C3
0   133002.0   16342.0  135506.0
1   184904.0  131360.0  160497.0
2    80484.0   66891.0       NaN
3   151208.0   18404.0       NaN
4    41744.0  178060.0  125098.0
5    34026.0  103715.0  135427.0
6    99057.0   61430.0  191203.0
7   158436.0   88131.0   61492.0
8   100118.0   68813.0  160444.0
9        NaN       NaN    1667.0
10  135798.0   38021.0  149213.0
11       NaN  141428.0  177848.0
12  156864.0       NaN   27284.0
13   30014.0   95441.0  109791.0
14  148301.0  173564.0   75939.0
15   24749.0  133735.0    9045.0
16   44885.0  124457.0  104110.0
17   24901.0    1745.0  131370.0
18       NaN  130549.0  173947.0
19   10864.0   21269.0  194693.0
20   56296.0    9340.0  187726.0
21   39520.0  124709.0  156891.0
22   34372.0   59136.0  183188.0
23  144612.0   78361.0   78958.0
24  175947.0   97026.0       NaN
25  175792.0   58569.0  140785.0
26   89420.0  176151.0    7205.0
27  138041.0   49554.0  166655.0
28   53550.0  197000.0  146163.0
29    1179.0  163956.0  142745.0
30  125686.0   91988.0  141894.0
31       NaN  123442.0  195156.0
32   85120.0   51629.0   17382.0
33   22834.0  170996.0       NaN
34  102718.0  152345.0  149967.0
35  191834.0  119655.0       NaN
36   66177.0   60599.0  108450.0
37   19002.0   98529.0  166255.0
38  173376.0   24854.0  137345.0
39    9446.0       NaN  189065.0
40   68145.0  197762.0   41797.0
41  194262.0  131544.0       NaN
42       NaN   81779.0  156864.0
43  195443.0   46098.0   19534.0
44   44088.0   81669.0   54590.0
45  158124.0   85663.0  122303.0
46  169943.0  162249.0  185305.0
47  130690.0  143266.0  179989.0
48  160982.0   81133.0  168754.0
49   40723.0    4593.0  136590.0
Missing values in each columns:
C1    5
C2    3
C3    6
dtype: int64
Column with more than 5 missing values: C3    6
dtype: int64
          C1        C2
0   133002.0   16342.0
1   184904.0  131360.0
2    80484.0   66891.0
3   151208.0   18404.0
4    41744.0  178060.0
5    34026.0  103715.0
6    99057.0   61430.0
7   158436.0   88131.0
8   100118.0   68813.0
9        NaN       NaN
10  135798.0   38021.0
11       NaN  141428.0
12  156864.0       NaN
13   30014.0   95441.0
14  148301.0  173564.0
15   24749.0  133735.0
16   44885.0  124457.0
17   24901.0    1745.0
18       NaN  130549.0
19   10864.0   21269.0
20   56296.0    9340.0
21   39520.0  124709.0
22   34372.0   59136.0
23  144612.0   78361.0
24  175947.0   97026.0
25  175792.0   58569.0
26   89420.0  176151.0
27  138041.0   49554.0
28   53550.0  197000.0
29    1179.0  163956.0
30  125686.0   91988.0
31       NaN  123442.0
32   85120.0   51629.0
33   22834.0  170996.0
34  102718.0  152345.0
35  191834.0  119655.0
36   66177.0   60599.0
37   19002.0   98529.0
38  173376.0   24854.0
39    9446.0       NaN
40   68145.0  197762.0
41  194262.0  131544.0
42       NaN   81779.0
43  195443.0   46098.0
44   44088.0   81669.0
45  158124.0   85663.0
46  169943.0  162249.0
47  130690.0  143266.0
48  160982.0   81133.0
49   40723.0    4593.0
Row label having maximum sum: 46
          C1        C2
0   133002.0   16342.0
1   184904.0  131360.0
2    80484.0   66891.0
3   151208.0   18404.0
4    41744.0  178060.0
5    34026.0  103715.0
6    99057.0   61430.0
7   158436.0   88131.0
8   100118.0   68813.0
9        NaN       NaN
10  135798.0   38021.0
11       NaN  141428.0
12  156864.0       NaN
13   30014.0   95441.0
14  148301.0  173564.0
15   24749.0  133735.0
16   44885.0  124457.0
17   24901.0    1745.0
18       NaN  130549.0
19   10864.0   21269.0
20   56296.0    9340.0
21   39520.0  124709.0
22   34372.0   59136.0
23  144612.0   78361.0
24  175947.0   97026.0
25  175792.0   58569.0
26   89420.0  176151.0
27  138041.0   49554.0
28   53550.0  197000.0
29    1179.0  163956.0
30  125686.0   91988.0
31       NaN  123442.0
32   85120.0   51629.0
33   22834.0  170996.0
34  102718.0  152345.0
35  191834.0  119655.0
36   66177.0   60599.0
37   19002.0   98529.0
38  173376.0   24854.0
39    9446.0       NaN
40   68145.0  197762.0
41  194262.0  131544.0
42       NaN   81779.0
43  195443.0   46098.0
44   44088.0   81669.0
45  158124.0   85663.0
47  130690.0  143266.0
48  160982.0   81133.0
49   40723.0    4593.0
Dataframe after sorting:
          C1        C2
0   133002.0   16342.0
1   184904.0  131360.0
2    80484.0   66891.0
3   151208.0   18404.0
4    41744.0  178060.0
5    34026.0  103715.0
6    99057.0   61430.0
7   158436.0   88131.0
8   100118.0   68813.0
9        NaN       NaN
10  135798.0   38021.0
11       NaN  141428.0
12  156864.0       NaN
13   30014.0   95441.0
14  148301.0  173564.0
15   24749.0  133735.0
16   44885.0  124457.0
17   24901.0    1745.0
18       NaN  130549.0
19   10864.0   21269.0
20   56296.0    9340.0
21   39520.0  124709.0
22   34372.0   59136.0
23  144612.0   78361.0
24  175947.0   97026.0
25  175792.0   58569.0
26   89420.0  176151.0
27  138041.0   49554.0
28   53550.0  197000.0
29    1179.0  163956.0
30  125686.0   91988.0
31       NaN  123442.0
32   85120.0   51629.0
33   22834.0  170996.0
34  102718.0  152345.0
35  191834.0  119655.0
36   66177.0   60599.0
37   19002.0   98529.0
38  173376.0   24854.0
39    9446.0       NaN
40   68145.0  197762.0
41  194262.0  131544.0
42       NaN   81779.0
43  195443.0   46098.0
44   44088.0   81669.0
45  158124.0   85663.0
47  130690.0  143266.0
48  160982.0   81133.0
49   40723.0    4593.0
Dataframe after droping duplicates:
          C1        C2
0   133002.0   16342.0
1   184904.0  131360.0
2    80484.0   66891.0
3   151208.0   18404.0
4    41744.0  178060.0
5    34026.0  103715.0
6    99057.0   61430.0
7   158436.0   88131.0
8   100118.0   68813.0
9        NaN       NaN
10  135798.0   38021.0
11       NaN  141428.0
12  156864.0       NaN
13   30014.0   95441.0
14  148301.0  173564.0
15   24749.0  133735.0
16   44885.0  124457.0
17   24901.0    1745.0
18       NaN  130549.0
19   10864.0   21269.0
20   56296.0    9340.0
21   39520.0  124709.0
22   34372.0   59136.0
23  144612.0   78361.0
24  175947.0   97026.0
25  175792.0   58569.0
26   89420.0  176151.0
27  138041.0   49554.0
28   53550.0  197000.0
29    1179.0  163956.0
30  125686.0   91988.0
31       NaN  123442.0
32   85120.0   51629.0
33   22834.0  170996.0
34  102718.0  152345.0
35  191834.0  119655.0
36   66177.0   60599.0
37   19002.0   98529.0
38  173376.0   24854.0
39    9446.0       NaN
40   68145.0  197762.0
41  194262.0  131544.0
42       NaN   81779.0
43  195443.0   46098.0
44   44088.0   81669.0
45  158124.0   85663.0
47  130690.0  143266.0
48  160982.0   81133.0
49   40723.0    4593.0
Correlation: -0.121462299344244
Covariance: 609352667.3821257
Dataframe after removiing outliers:           C1        C2      C4
0   133002.0   16342.0   75803
1   184904.0  131360.0   84887
2    80484.0   66891.0  143231
3   151208.0   18404.0   40260
4    41744.0  178060.0  196819
5    34026.0  103715.0  192167
6    99057.0   61430.0  189723
7   158436.0   88131.0   25605
8   100118.0   68813.0   49824
9        NaN       NaN   83883
10  135798.0   38021.0  113065
11       NaN  141428.0  121743
12  156864.0       NaN  198182
13   30014.0   95441.0  199156
14  148301.0  173564.0  115120
15   24749.0  133735.0   54088
16   44885.0  124457.0   49914
17   24901.0    1745.0  141682
18       NaN  130549.0   36404
19   10864.0   21269.0  137494
20   56296.0    9340.0   33121
21   39520.0  124709.0   83426
22   34372.0   59136.0  160653
23  144612.0   78361.0   82289
24  175947.0   97026.0   54358
25  175792.0   58569.0    3052
26   89420.0  176151.0  155190
27  138041.0   49554.0   83818
28   53550.0  197000.0  165493
29    1179.0  163956.0  134782
30  125686.0   91988.0  117505
31       NaN  123442.0   88122
32   85120.0   51629.0  138221
33   22834.0  170996.0  175635
34  102718.0  152345.0   23938
35  191834.0  119655.0  144418
36   66177.0   60599.0   39918
37   19002.0   98529.0  154916
38  173376.0   24854.0   10887
39    9446.0       NaN   59725
40   68145.0  197762.0   73744
41  194262.0  131544.0   81687
42       NaN   81779.0   45861
43  195443.0   46098.0   43735
44   44088.0   81669.0   43611
45  158124.0   85663.0   72542
47  130690.0  143266.0  103456
48  160982.0   81133.0   77815
49   40723.0    4593.0  164953
Dataframe after Discretizing 2nd column :           C1                    C2      C3
0   133002.0   (1548.983, 40948.4]   75803
1   184904.0  (119355.2, 158558.6]   84887
2    80484.0    (40948.4, 80151.8]  143231
3   151208.0   (1548.983, 40948.4]   40260
4    41744.0  (158558.6, 197762.0]  196819
5    34026.0   (80151.8, 119355.2]  192167
6    99057.0    (40948.4, 80151.8]  189723
7   158436.0   (80151.8, 119355.2]   25605
8   100118.0    (40948.4, 80151.8]   49824
9        NaN                   NaN   83883
10  135798.0   (1548.983, 40948.4]  113065
11       NaN  (119355.2, 158558.6]  121743
12  156864.0                   NaN  198182
13   30014.0   (80151.8, 119355.2]  199156
14  148301.0  (158558.6, 197762.0]  115120
15   24749.0  (119355.2, 158558.6]   54088
16   44885.0  (119355.2, 158558.6]   49914
17   24901.0   (1548.983, 40948.4]  141682
18       NaN  (119355.2, 158558.6]   36404
19   10864.0   (1548.983, 40948.4]  137494
20   56296.0   (1548.983, 40948.4]   33121
21   39520.0  (119355.2, 158558.6]   83426
22   34372.0    (40948.4, 80151.8]  160653
23  144612.0    (40948.4, 80151.8]   82289
24  175947.0   (80151.8, 119355.2]   54358
25  175792.0    (40948.4, 80151.8]    3052
26   89420.0  (158558.6, 197762.0]  155190
27  138041.0    (40948.4, 80151.8]   83818
28   53550.0  (158558.6, 197762.0]  165493
29    1179.0  (158558.6, 197762.0]  134782
30  125686.0   (80151.8, 119355.2]  117505
31       NaN  (119355.2, 158558.6]   88122
32   85120.0    (40948.4, 80151.8]  138221
33   22834.0  (158558.6, 197762.0]  175635
34  102718.0  (119355.2, 158558.6]   23938
35  191834.0  (119355.2, 158558.6]  144418
36   66177.0    (40948.4, 80151.8]   39918
37   19002.0   (80151.8, 119355.2]  154916
38  173376.0   (1548.983, 40948.4]   10887
39    9446.0                   NaN   59725
40   68145.0  (158558.6, 197762.0]   73744
41  194262.0  (119355.2, 158558.6]   81687
42       NaN   (80151.8, 119355.2]   45861
43  195443.0    (40948.4, 80151.8]   43735
44   44088.0   (80151.8, 119355.2]   43611
45  158124.0   (80151.8, 119355.2]   72542
47  130690.0  (119355.2, 158558.6]  103456
48  160982.0   (80151.8, 119355.2]   77815
49   40723.0   (1548.983, 40948.4]  164953